.paginas__titulo{
    color: var(--rosa);
    font-family: var(--font-titulo);
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 50px 0;
}
.contacto__tarjeta{
    width: 80%;
    display: flex;
    align-items: center;
    position: relative;
}
.contacto__titulo{
    font-size: 1.5rem; 
    margin-bottom: 20px;
    color: var(--rosa);
}
.contacto__imagen{
    width: 50%; 
    height: 500px;
}
.contacto__img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}
.contacto__texto{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 50%;
    background-color: var(--blanco);
    right: 5%;
    position: absolute;
    padding: 20px;
}
.contacto__parrafo{font-weight: 400;}
.contacto__splide .splide__slide{
    display: flex;
    justify-content: center;
}
.contacto__arrows{display: none;}
.contacto__pagination{
    top: 0;
    display: flex;
    align-items:flex-start;
    justify-content: center;
}
.contacto__pagination__page {
    margin: 0 20px;
    font-size: 1.1rem;
    font-weight: 600;
    background: transparent;
    width: auto; 
    position: relative;
}
.contacto__pagination__page::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--rosa);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}
.contacto__pagination__page:hover::before {transform: scaleX(1);}
.contacto__pagination__page.is-active {
    background-color: transparent;
    color: var(--rosa);
    transform: scaleX(1);
}
.contacto__splide .splide__pagination__page:hover{
    background-color: transparent;
}